*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box} 
    /*nollställer browserns inställningar */
div.vlogo{
    
    background-color:pink; 
    font-size: 40px;
    text-align: center;
}
.header{ /* ??kolla om bg går att göra transparent? */
background-color: rgb(252, 164, 0); 
}
h1{
    font-size: 50px;
}
h3{
    font-size: 20px;
}
.no1-03{
background-color: lemonchiffon;

}

.voodoo{
    top: 50%;
    left: 50%;
    color: red;
    transform: translate(-50%, -50%);

    
}

    /*background-color: purple

    . alltid i början på class

